@import url("https://fonts.googleapis.com/css?family=Nunito");

@font-face {
    font-family: "chinese_takeawayregular";
    src: url("../fonts/chinesetakeaway.woff2") format("woff2"),
        url("../fonts/chinesetakeaway.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
