.page-break {
    page-break-after: always;
}

.title {
    text-align: center;

    h1 {
        font-size: 2rem;
        margin: 0;
    }

    h2 {
        font-size: 4rem;
        margin: 0;
    }
}

.menu_items {
    text-align: center;

    h3 {
        font-size: 2rem;
        margin: 0.8rem 0 0.2rem;
    }

    .items {
        list-style: none;
        padding: 0 2rem;
    }

    .menu_item {
        text-align: start;
        border-bottom: 0.1rem solid #424242;

        .main {
            position: relative;
        }

        .name {
            margin: 10px;
            display: inline;
            font-size: 1.2rem;
        }

        .number {
            display: inline;
        }

        .description {
            word-wrap: break-word;
            margin: 5px;
            font-style: italic;

            &:empty {
                margin: 0;
            }
        }

        .price {
            display: block;
            float: right;
        }
    }
}

.discounts {
    text-align: center;
    width: 730px;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    border-collapse: separate;
    width: 700px;
    margin: 2rem auto 0;

    .discount {
        display: table-cell;
        text-align: start;
        background-color: yellow;
        border: red dashed 2px;
        width: 300px;
        // margin: 400px;
        padding: 10px;
        position: relative;

        .name {
            display: inline-block;
            margin: 0.2em 0;
        }

        .expiry_date {
            display: block;
            float: right;
            font-size: 0.8em;
        }

        .new-price {
            font-size: 1.2em;
        }

        .price {
            background: red;
            display: block;
            float: right;
            border-radius: 100%;
            padding: 0.5rem;
            font-size: 1.5em;
        }

        .star {
            // position: absolute;
            right: 1rem;
            bottom: 1rem;

            &:before {
                content: "\2605";
                position: absolute;
            }
        }
    }
}
